{
  "Geocoders": [
    {
      "Google": {
        "apiParameter": "key",
        "apiKey": "<Put Your API Key Here>",
        "extras": "",
        "uri": "https://maps.googleapis.com/maps/api/geocode/json",
        "queryParameter": "address"
      },
      "Here": {
        "param": "app_id",
        "apiKey": "<Put Your App ID Key Here",
        "extras": "app_code=<Put Your App Code >",
        "uri": "https://geocoder.cit.api.here.com/6.2/geocode.json",
        "queryParameter": "searchtext"
      }
    }
  ]
}